@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body, html {
  width: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, footer h3 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-size: 1rem;
}

span, strong {
  display: inline-block;
}

img {
  display: block;
}

/*EXLORER BUTTON GRADIENT*/
/*FUNCTIONNING BUTTTON*/
/*FUNCTIONNING ICON PROPERTY */
/*RESTAURANTS CARDS*/
/*HOME*/
/*HEADER*/
header .header__logo {
  padding-block: 50px;
}
@media screen and (max-width: 650px) {
  header .header__logo {
    padding-block: 20px;
  }
}
header img {
  height: 50px;
  margin: auto;
}
@media screen and (max-width: 650px) {
  header img {
    height: 30px;
  }
}

.explorerbloc {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 30px 0px;
}

.locationbloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #EAEAEA;
  color: black;
}

.explorerbloc__h2 {
  padding: 20px;
  margin: 0px;
  align-items: center;
  text-align: center;
}

.explorerbloc__description {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.formexplorer {
  color: black;
  display: flex;
  padding: 15px 0px 15px 0px;
}

.formexplorer_input {
  width: 100%;
  text-align: center;
  background-color: #EAEAEA;
  border: 0px;
  width: 100%;
  font-weight: 600;
  color: black;
  font-size: 1rem;
}

::placeholder {
  color: black;
}

.search {
  color: black;
}

.functioningbloc {
  padding: 20px;
}

.restaurantsbloc {
  padding: 20px;
  background-color: #F6F6F6;
}

.restaurantsbloc__title {
  width: 100%;
}

.restaurantscard {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 8px #a5a5a5;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
}

.card__image {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 335px;
  height: 215px;
  margin-bottom: 10px;
  object-fit: cover;
}

.card__button--new {
  border-radius: 2px;
  padding: 5px;
  color: #009F88;
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 15px;
}

.card__infobloc {
  color: black;
  padding: 10px;
}

.card__infobloc--h3 {
  padding: 0px 10px 5px 10px;
  margin: 0px;
}

.card_infobloc--place {
  padding: 0px 10px 10px 10px;
}

/*FOOTER*/
footer {
  color: white;
  background-color: #353535;
  padding: 20px;
  margin: 0px -20px;
}
@media screen and (max-width: 1024px) {
  footer {
    margin: 0px;
  }
}
footer .footer__h3 {
  font-weight: 500;
  margin-top: 0px;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (max-width: 650px) {
  footer .footer__h3 {
    text-align: left;
    font-size: 1.2rem;
  }
}
footer ul {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: stretch;
}
@media screen and (max-width: 650px) {
  footer ul {
    flex-direction: column;
  }
}
footer li {
  margin-bottom: 10px;
}
footer li .icon {
  width: 15px;
  margin-right: 8px;
  font-size: 12px;
}
footer li a {
  color: white;
}

/*EXLORER BUTTON GRADIENT*/
/*FUNCTIONNING BUTTTON*/
/*FUNCTIONNING ICON PROPERTY */
/*RESTAURANTS CARDS*/
/*BUTTONS*/
/*BUTTONS EXPLORER*/
.explorerbloc__button {
  text-align: center;
}

.explorerbloc__button--link {
  color: white;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 0;
  padding: 15px;
}

/*FUNCTIONNING BUTTON*/
.functioning__button {
  background-color: #F6F6F6;
  box-shadow: 0px 2px 5px #a5a5a5;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
  justify-content: flex-start;
}
.functioning__button .functioning__button--number {
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  right: 25px;
}
.functioning__button .functioning__element--icon {
  color: #7e7e7e;
  display: flex;
  text-align: center;
  justify-content: end;
  margin: 0px 50px 0px 15px;
}
.functioning__button .functioning__element--iconpurple {
  color: #9356DC;
  display: flex;
  text-align: center;
  justify-content: end;
  margin: 0px 50px 0px 15px;
}

/*ORDER BUTTON*/
.order__button {
  text-align: center;
  padding: 20px;
}

.menu__order-button--link {
  color: white;
  text-align: center;
  width: 300px;
  height: 100px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 50px 15px 50px;
}

.restaurants__page-body {
  margin: 0px;
}

/*HEADER*/
.restaurant__page-header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.restaurant__page-header__icon-link {
  position: absolute;
  padding: 0px;
  margin: 0;
  left: 40px;
}

.restaurant__page-header__icon {
  font-size: 1.4rem;
  color: black;
  padding: 0px;
  margin: 0;
}

.header__restaurantpage-logo {
  padding: 20px;
}

/*IMAGE*/
.restaurant__pages-img__div {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.restaurant__pages-img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

/*MENUBLOC*/
.restaurant__pages-sectionbloc {
  background-color: #F6F6F6;
  color: black;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  width: 100%;
}

.restaurant__pages-menutitle {
  padding: 20px;
  font-family: "Shrikhand";
  border-radius: 50px;
}

/*STARTER*/
.restaurant__pages-card {
  padding: 20px;
}

.card__title {
  text-transform: uppercase;
}

.card__infosection {
  text-align: inherit;
  align-items: flex-end;
  height: 75px;
  background-color: white;
  box-shadow: 0px 2px 5px #a5a5a5;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
}

.card__infosection-linkbloc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  color: black;
}

.card__infosection-dishes_icondiv {
  display: none;
}

/*# sourceMappingURL=style.css.map */
