/*EXLORER BUTTON GRADIENT*/
@mixin explorer-background-gradient{
    background: linear-gradient($clr-secondary, $clr-primary);
}

/*FUNCTIONNING BUTTTON*/
@mixin center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*FUNCTIONNING ICON PROPERTY */
@mixin icon_property{
    display: flex;
    text-align: center;
    justify-content: end;
    margin: 0px 50px 0px 15px;
}

/*RESTAURANTS CARDS*/
@mixin borderradius20px {
    border-radius:20px;
}