//*COLORS*//
    //*MAINCOLORS*//
    $clr-primary: #9356DC;
    $clr-secondary: #FF79DA;
    $clr-tertiary: #99E2D0;

    //*OTHERCOLORS*//
    $clr-explorer-background:#F6F6F6;
    $clr-icon: #7e7e7e;
    $clr-icon--special: #9356DC;
   
    $clr-location-background: #EAEAEA;
    $clr-primary-background: #F6F6F6;
     
    $clr-footer-background: #353535;
    $clr-box-shadow: #a5a5a5;

//*SIZE MEDIA QUERIES*//
$size-mobile: 650px;
$size-tablet: 1024px;