/*LOCATION*/
.formexplorer{
    color: black;
    display: flex;
    padding: 15px 0px 15px 0px;
}

.formexplorer_input{
    width: 100%;
    text-align: center;
    background-color: $clr-location-background;
    border: 0px;
    width: 100%;
    font-weight: 600;
    color: black;
    font-size: 1rem;
}

::placeholder {
    color: black;
}

.search {
    color: black;
}

/*EXPLORER*/
.explorerbloc {
    background-color: $clr-explorer-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 30px 0px;
}


.locationbloc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $clr-location-background;
    color: black;
}
.explorerbloc__h2{
    padding: 20px;
    margin: 0px;
    align-items: center;
    text-align: center;
}
.explorerbloc__description{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
}


